<style>
  .nav-link {
    background: none;
    border: 1px solid black;
    padding: 4px 6px;
    border-radius: 20px;
    color: black;
}

</style>
<body>
  <div class="containers">
    <nav class="nav navbar navbar-expand-lg header-navbar">
      <a class="navbar-brand font-weight-bold" href="/">Attender</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-auto navbar-nav">
          <li class="mr-2">
            <a class="nav-link link " style="font-size:20px;" href="student-login"
              ><i class="fa fa-plus fa-sm" style="font-size:20px;" aria-hidden="true"></i>
              Student Sign-in</a
            >
          </li>
          <li class="mr-2">
            <a class="nav-link link " style="font-size:20px;" href="faculty-login"
              ><i class="fa fa-plus fa-sm" style="font-size:20px;" aria-hidden="true"></i>
              faculty Sign-in</a
            >
          </li>
          <li class="mr-2">
            <a class="nav-link link " style="font-size:20px;" href="admin-login"
              ><i class="fa fa-user fa-sm" aria-hidden="true"></i>Admin Sign in</a
            >
          </li>
          <li class="mr-2">
            <a class="nav-link link " style="font-size:20px;" href="student-register"
            ><i class="fa fa-user fa-sm" aria-hidden="true"></i>Student Signup</a> 
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>