<%- include("./partials/chore.ejs") -%>
<%- include('./partials/header.ejs') -%>
<link href="stylesheets/landing.css" rel="stylesheet" />
<div class="frontpage">
    <div class="container">
      <h1 class="text-center main__head typewriter">So you think you can escape</h1>
      <h3 class="text-center sub__head mt-0">75% attendence is mandatory</h3>
      <p class="text-center tert__head">&#128526; -By Group 32 &#128526;</p>
    </div>
</div