<%- include("./partials/chore.ejs") -%>
<%- include('./partials/header.ejs') -%>
<link href="stylesheets/landing.css" rel="stylesheet" />
<div class="frontpage">
  <div class="frontpage-left">
    <div class="container">
      <h1 class="text-center main__head font-weight-bold text-weight-bold">So you think you can escape</h1>
      <h3 class="text-center sub__head mt-0">75% attendence is mandatory</h3>
      <p class="text-center tert__head">&#128526; -By Ultra noobs &#128526;</p>
    </div>
  </div>
  <div class="frontpage-right">
    <img src="images/escape__new.jpg" alt="Right-Side-Illustration" />
    <a href='https://www.freepik.com/vectors/people'>People vector created by pch.vector - www.freepik.com</a>
  </div>
</div>